= link_to 'Edit', edit_item_path(@item)
= link_to 'Back', items_path

%p 
  .notice

%p
  %h1= @item.name

%p
  %b Details:
  = @item.details
%p
  %h4 Units:
  %table
    %tr
      %th Unit ID
      %th Description
      %th Status
      %th Remarks
      %th{:colspan => 3} Action
    - @item.units.each do |unit|
      %tr
        %td= unit.id
        %td= unit.details
        - if unit.in
          %td IN
          %td n/a
          %td= link_to "log out", toggle_unit_path(unit)
        - else
          %td OUT
          %td= unit.remarks
          %td= link_to "log in", toggle_unit_path(unit)
        %td= link_to 'Edit', edit_item_unit_path(@item, unit)
        %td= link_to 'Show', unit
%hr
= render 'units/form'
