<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @unit.item %>
</p>

<p>
  <b>Details:</b>
  <%= @unit.details %>
</p>

<p>
  <b>In:</b>
  <%= @unit.in %>
</p>

<p>
  <b>Active:</b>
  <%= @unit.active %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
